aiofiles
aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
async-timeout
attrs
certifi
cffi
charset-normalizer
click
contourpy
cycler
dnspython
exceptiongroup
fastapi
fonttools
frozenlist
future
gevent
greenlet
h11
idna
install
joblib
kiwisolver
matplotlib
minio
motor
msgpack
multidict
numpy
opencv-python-headless
orjson
packaging
pillow
psycopg2-binary
pycocotools
pycparser
pycryptodome
pydantic
pydantic_core
pymongo
pyparsing
python-dateutil
python-multipart
pyzmq
requests
scikit-learn
scipy
six
sniffio
SQLAlchemy
starlette
threadpoolctl
tqdm
typing_extensions
urllib3
uvicorn[standard]
yarl